/*Variables*/
@font-face {
    font-family: SharpSansBold;
    src: url(assets/fonts/Sharp-Sans-No1-Bold.otf);
}

:root{
  --green: #15AD4B;
}

article {
  margin-left: 30%;
  margin-right: 30%;
}

body {
  font-family: SharpSansBold,   sans-serif;
  color: var(--green);
  margin: 0;
}

figure {
  text-align: center;
  margin-top: 5rem;
}

figure img {
  width: 100%;
}

h1 {
  text-align: center;
  font-size: 3rem;
  line-height: 3.8rem;
}

footer button {
  margin: 0 auto;
  display: block;
  background-color: white;
  color: var(--green);
  text-transform: uppercase;
  letter-spacing: 1px;
}

footer {
  background: linear-gradient(white 25%, var(--green) 25%);
  color: white;
  padding-left: 30%;
  padding-right: 30%;
  padding-bottom: 8rem;
  padding-top: -4rem;
}

nav {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: rgba(255,255,255,.97);
}

nav img {
  height: 2.5rem;
  padding-top: .2rem;
  float: left;
}

nav button {
  float: right;
  margin-right: 40px;
  letter-spacing: 1px;
  display: table-cell;
  vertical-align: middle;
}

button {
  padding: 0.75rem 1rem;
  border: 0;
  background-color: var(--green);
  color: white;
  text-decoration: none;
  font-size: 1rem;
  line-height: 1.5;
  font-family: SharpSansBold, sans-serif;
  cursor: pointer;
  -webkit-appearance: none;
  -webkit-font-smoothing: antialiased;
}
