/*Variables*/
@font-face {
    font-family: SharpSansBold;
    src: url(assets/fonts/Sharp-Sans-No1-Bold.otf);
}
@font-face {
    font-family: SharpSansMedium;
    src: url(assets/fonts/Sharp-Sans-No1-Medium.otf);
}

:root{
  --green: #15AD4B;
}

a {
  text-decoration: none;
  color: inherit;
}

article {
max-width: 925px;
position: relative;
left: 50%;
transform: translateX(-50%);
}

body {
  font-family: SharpSansBold,   sans-serif;
  color: var(--green);
  margin: 0;
}

figure {
  text-align: center;
  margin-top: 5rem;
}

figure img {
  width: 100%;
}

#hero-image {
  width: 80%;
}

#mobile-menu{
  display: none;
}

h1 {
  text-align: center;
  font-size: 3rem;
  line-height: 3.8rem;
  font-weight: normal;
}

.jumbo-numbers{
  font-size: 5rem;
  line-height: 6rem;
}

h2 {
  text-align: center;
  font-size: 2rem;
  line-height: 2.4rem;
  font-weight: normal;
}

p {
  text-align: center;
  font-size: 1.5em;
  max-width: 600px;
  margin: auto;
  margin-bottom: 1em;
}

footer form.button input {
  margin: 0 auto;
  display: block;
  background-color: white;
  color: var(--green);
  letter-spacing: 1px;
}

footer {
  margin-top: 8em;
  background: linear-gradient(white 25%, var(--green) 25%);
  color: white;
  padding-left: 30%;
  padding-right: 30%;
  padding-bottom: 1rem;
  padding-top: -4rem;
}

nav {
  padding: 10px 20px;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: rgba(255,255,255,.95);
}

nav img {
  height: 2.5rem;
  padding-top: .2rem;
  float: left;
}

img.social {
  height: 3rem;
  margin: 6rem 4rem 0rem 4rem;
}

form {
  margin: 0;
  padding: 0;
}

nav form.button input {
  float: right;
  margin-right: 40px;
  display: table-cell;
  vertical-align: middle;
}
nav form.button-invert input {
  float: right;
  margin-right: 30px;
  display: table-cell;
  vertical-align: middle;
}

form.button input {
  padding: 0.6rem 1.2rem;
  border: 0;
  background-color: var(--green);
  color: white;
  text-decoration: none;
  font-size: 1rem;
  font-family: SharpSansBold, sans-serif;
  cursor: pointer;
  -webkit-appearance: none;
  letter-spacing: 3px;
  border-radius: 8px;
  border-width: 3px;
  border-style: solid;
  border-color: var(--green);
}

form.button-invert input {
  padding: 0.6rem .6rem;
  color: var(--green);
  background-color: white;
  text-decoration: none;
  font-size: 1rem;
  font-family: SharpSansBold, sans-serif;
  cursor: pointer;
  -webkit-appearance: none;
  letter-spacing: 3px;
  border-radius: 8px;
  border-width: 3px;
  border-style: solid;
  border-color: #FFFFFF;
}

.u-mar-top {
  margin-top: 3em;
}

.u-mar-top-lg {
  margin-top: 6em;
}

.u-center {
  text-align: center;
}


.icon {
  width: 48px;
}

.squares img {
  max-width: 300px;
}

#coin-toss-image {
  border-radius: 25px;
}

.story-card {
  width: 20vw;
  border-radius: 1rem;
  border-style: solid;
  border-width: 3px;
  border-color: var(--green);
  padding: 1rem;
  padding-top: 0px;
  margin-bottom: 1rem;
  min-width: 400px;
}

.story-card p:first-of-type {
  text-align: left;
  font-size: 1rem;
  font-weight: 200;
  font-family: SharpSansMedium, sans-serif;
}

.story-card:hover{
  background-color: var(--green);
  color: white;
}

.mono {
  font-family: monospace;
  font-size: 1rem;
  text-align: left;
}

.card-container{
  padding-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  flex-direction: row;
  flex-wrap: wrap;
  width: 900px;
  margin:0px;
  max-width: 100%;
}

.playing-card-container{
  padding-bottom: 2rem;
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  margin:0px;
  max-width: 100%;
}

.u-text-align-center {
  text-align: center;
}

.separator {
    display: flex;
    align-items: center;
    text-align: center;
}
.separator::before, .separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid var(--green);
}
.separator::before {
    margin-right: .25em;
}
.separator::after {
    margin-left: .25em;
}

.vertical-stack{
  display: flex;
  flex-direction: column;
  margin-left: 4%;
  margin-right: 4%;
  margin-bottom:0;
  align-items: center;
  perspective: 1200px;
}

select {
  font-size: 1.5em;
  text-align: center;
  margin-top: .5em;
  border-radius: 8px;
  padding: 6px;
  padding-left:12px;
  border: var(--green) 2px solid;
  font-family: 'SharpSansBold';

  -webkit-appearance: none; -moz-appearance: none; appearance: none; padding-right: 30px;
  background: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"><path d="M7 10l5 5 5-5z"/><path d="M0 0h24v24H0z" fill="none"/></svg>') 100% 50% no-repeat;
}

#creatureCard {
  width : 30vw;
  border-radius: 16px;
  transition: transform 500ms;
  transition-timing-function: ease-in-out;
  transform-style: preserve-3d;
}

#abilityCard {
  width : 30vw;
  border-radius: 16px;
  transition: transform 500ms;
  transition-timing-function: ease-in-out;
  transform-style: preserve-3d;
}

#check-out {
  max-width: 600px;
  margin: auto;
  margin-bottom: 1.5em;
}

ul.coins {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin-left: 0px;
  margin-bottom:18px;
  padding: 0px;
}

ul.coins li img{
  margin: 1px;
  width:72px;
}

.controls{
  display: flex;
  flex-direction: column;
}

ul.coins li.controls img{
  width: 35px;
}

.jumbo {
  width: 100%;
}

/*mobile*/
@media only screen
  and (max-width: 970px) {
    .card-container{
      padding-bottom: 2rem;
      display: flex;
      justify-content: center;
      padding-left: 4vw;
      flex-direction: column;
      flex-wrap: nowrap;
      width: 900px;
      margin:0px;
      max-width: 92%;
      align-items: center;
    }
  }


/*mobile*/
@media only screen
  and (max-device-width: 700px)
  and (-webkit-min-device-pixel-ratio: 1) {
    html{
      width: 100%;
    }
    body{
      width: 100%;
    }
    .story-card {
      min-width: 0;
      width: 84vw;
    }
    #mobile-menu{
      display: block;
      position: fixed;
      top: 3vh;
      right: 3vh;
      width: 4vh;
      opacity: .4;
      z-index: 10;
    }
    #hero-image {
      width: 100%;
    }
    .card-container{
      flex-direction: column;
      padding: 0px;
      margin: auto;
    }

    .jumbo h2{
      font-size: 1.4rem;
      line-height: normal;
      text-align: left;
    }
    select {
      font-size: 1.4em;
      background-color: white;
      padding:.25em .5em;
      padding-right: 1.5em;
    }
    .coins{
      flex-direction: row;
      flex-wrap: wrap;
      max-width: 100%;
    }

    ul.coins li img {
      width: 14vw;
    }
    .vertical-stack{
      margin-bottom: 34px;
    }
    .u-mar-top {
      margin-top: 2em;
      margin-bottom: 0;
    }

    .playing-card-container{
      flex-direction: column;
    }

    #check-out{
      padding: 4vw;
    }
    #creature-selector{
      margin-bottom: 34px;
    }
    #digitalCardsHeader{
      margin-top: 64px;
    }
    #creatureCard {
      width : 80vw;
    }

    #abilityCard {
      width: 80vw;
    }
    article {
      padding: 0% 0%;
      margin: 0;
      width: 100%;
      display: flex;
      flex-direction: column;
    }
    p {
      font-size: 1.2rem;
    }
    form{
      margin-block-end: 0;
    }
    .nav-item {
      display: none;
      margin-top: 2vh;
    }
    nav form.button-invert input {
      margin-right: 0;
    }
    nav form.button input {
      margin-right: 0;
    }
    section {
      align-items: center;
    }
    footer {
      position: relative;
      padding: 0px;
      margin:0px;
      width:100%;
    }
    button {
      font-size: 2rem;
      letter-spacing: 3px;
      padding-left: 2rem;
      padding-right: 2rem;
    }
    nav img {
      width:40vw;
    }
    nav {
      position: fixed;
      top: 0px;
      left:0px;
      display: flex;
      padding: 2vh 0px;
      flex-direction: column;
      align-items: center;
      width:100%;
      z-index: 1;
    }
    img.social {
      height: 2rem;
      margin: 0;
    }
    footer h1 {
      margin-bottom: 0;
      padding-bottom: 4vh;
    }
    h1 {
      font-size: 2rem;
      line-height: normal;
      padding: 0 4vw;
    }
    h2 {
      padding: 0 4vw;
    }

    .squares img {
      margin-bottom: 2vh;
    }
}
